<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8" />
	<title>Nomadaway</title>
	<meta name="keywords" content="Club, Libros, Quito, Compartir, Lectura, ClubLibros, Letras, LetrasClub" />
	<meta name="description" content="Red Social | Club Online para compartir Libros"/>
	<meta name="Author" content="letras.club" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="" />

	<!-- WEB FONTS -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>	
</head>


<body>

	{% include 'menu.html' %}

	{% block content %}
	{% endblock content %}

	<!-- Javascript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
